<div class="Related">
  <h2 class="SecTitle text--lg" id="glow">Más historias fuera de serie</h2>
  <div class="RelatedContainer">
    <div class="Preview"></div>
    <div class="Info">
      <h3 class="ThirdTitle lh-title">Nombre de la historia y una linea más 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  ...</p>
    </div>
  </div>
  <div class="RelatedContainer">
    <div class="Preview"></div>
    <div class="Info">
      <h3 class="ThirdTitle lh-title">Nombre de la historia y una linea más 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  ...</p>
    </div>
  </div>
  <div class="RelatedContainer">
    <div class="Preview"></div>
    <div class="Info">
      <h3 class="ThirdTitle lh-title">Nombre de la historia y una linea más 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  ...</p>
    </div>
  </div>
</div>
