
@media screen and (min-width: 0) and (max-width: 639px) {
  .Related {
    margin-top: 0.625em;
  }
}

.Related h2 {
  line-height: 3em;
}

.RelatedContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 20px;
}

.RelatedContainer img {
  display: block;
}

body {
  overflow-x: hidden;
}

.RelatedContainer > .Preview {
  width: calc(100% - 10px);
  margin: 5px;
}

@media screen and (min-width: 640px) {
  .RelatedContainer > .Preview {
    width: calc(50% - 10px);
  }
}

@supports (grid-template-areas: "header") {
  .RelatedContainer {
    display: grid;
    grid-gap: 10px;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  body {
    overflow-x: visible;
  }

  @media screen and (min-width: 640px) {
    .RelatedContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1024px) {
    .RelatedContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1440px) {
    .RelatedContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .RelatedContainer > .Preview {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .RelatedContainer {
    grid-gap: 10px;
  }
}

.Preview {
  width: 15.5vw !important;
  height: 8.71875vw !important;
  background-color: #b6b6b6;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .Preview {
    width: 60vw !important;
    height: 30vw !important;
  }
}

@media screen and (min-width: 1920px) {
  .Preview {
    width: 15vw !important;
    height: 7.5vw !important;
  }
}

.Info p {
  font-family: 'Museo Sans Light';
  line-height: 1rem;
}

.mTB15 {
  margin: 0.9375rem 0;
}

.mT15 {
  margin-top: 0.9375rem;
}

.text-right {
  text-align: right;
}
