@charset "UTF-8";

@import 'app/shared/styles/_vars.scss';
@import 'font-belcorp.scss';

// Definalos en true o false (sin escribir !default) antes de importar ed-grid
$cssCore: false; // como trabajaré en Sass no quiero que compile tooodo el CSS
$cssHelpers: true; // recomendamos activar las ayudas
$devMode: false; // cuando quiera activar el modo dev, basta poner esta variable en true
@import "../node_modules/ed-grid/ed-grid";

@import "app/shared/styles/_typography.scss";

$breakpoints: ( s:0, m:640px, l:1024px, xl:1440px, xxl:1756px ) !default;

@import '../src/app/shared/styles/_layout.scss';
@import '../src/app/shared/styles/_basic_reset.scss';

@import "../node_modules/basiclightbox/src/styles/main";


.VimeoPlayerVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* this will override the width=""/height="" properties defined on the iframe */
  width: 100%;
  height: 100%;
}



.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
