@charset "UTF-8";
@import '~@angular/material/theming';
@import 'app/shared/styles/_vars.scss';
@import 'font-belcorp.scss';
@import 'custom-palette-belcorp.scss';

// Definalos en true o false (sin escribir !default) antes de importar ed-grid
$cssCore: false; // como trabajaré en Sass no quiero que compile tooodo el CSS
$cssHelpers: true; // recomendamos activar las ayudas
$devMode: false; // cuando quiera activar el modo dev, basta poner esta variable en true
@import "../node_modules/ed-grid/ed-grid";

@import "app/shared/styles/_typography.scss";

$breakpoints: ( s:0, m:640px, l:1024px, xl:1440px, xxl:1756px ) !default;

@import '../src/app/shared/styles/_layout.scss';
@import '../src/app/shared/styles/_basic_reset.scss';

@import "../node_modules/basiclightbox/src/styles/main";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$iron-app-primary: mat-palette($md-purple);
$iron-app-accent: mat-palette($md-green);

// The warn palette is optional (defaults to purple light).
$iron-app-warn: mat-palette($md-yellow);

// Especifica el color de textos e iconos
$iron-app-icon: mat-palette($md-bluedark);
$iron-app-text: mat-palette($md-dark);

// Create the theme object (a Sass map containing all of the palettes).
//$iron-app-theme: mat-light-theme($iron-app-primary, $iron-app-accent, $iron-app-warn);
$iron-app-theme: mat-light-theme($iron-app-primary, $iron-app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($iron-app-theme);


.VimeoPlayerVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* this will override the width=""/height="" properties defined on the iframe */
  width: 100%;
  height: 100%;
}



.Vimeo-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* this will override the width=""/height="" properties defined on the iframe */
  width: 100%;
  height: 100%;
}

.tile .inserCont iframe {
  margin-top: -150px;
  top: 0;
  width: 100%;
  object-fit: cover;
}



.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


/**menu!**/

.pb_container {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

/* Main */

.pb_main {
  display: table;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.mask {
  display: table-row;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
}

/* Sidebar */

.pb_sidebar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  // background: #1d2127;
  // border-right: 3px solid #0f1114;
  overflow: hidden;
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  transition-property: transform;
  will-change: transform, -webkit-transform;
  // background-image: linear-gradient(135deg, #6e2c8f, #670a77 52%, #1d0523);
  background-image: linear-gradient(130deg, #4c086f, #19041f 52%, #1d0523);
  border-right-style: solid;
  border-right-width: 1px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #b04ee4, #672aa9 52%, #710964);
}

.pb_sidebar, .pb_sidebar aspan {
  color: white;
}

.pb_nav {
  margin-top: 100px;
}

.pb_nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pb_nav-title {
  display: block;
  padding: 10px 50px;
  text-transform: uppercase;
  font-family: var(--font-primary-bolder);
  color: #6f2c90;
}

.pb_nav-link {
  display: block;
  padding: 12px 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pb_nav-welcome {
  display: block;
  padding: 12px 10px 20px 40px;
  font-family: var(--font-primary-bolder-italic);
  color: #b0a0dc;
  letter-spacing: -0.5px;
}



.pb_nav-link:hover {
  background-color: rgba(77, 38, 105, 0.5);
  cursor: pointer;
}

.pb_sidebar-separator {
  margin: 30px;
  height: 2px;
  background-color: #000;
  border-bottom: 1px solid #2b313a;
}

/* Hamburger Icon */

.hamburger {
  display: block;
  position: fixed;
  left: 50px;
  top: 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  // background-color: #3498db;
  border: 2px solid #ddd;
  padding: 6px 9px;
  width: 40px;
  height: 36px;
  transition-property: background-color, border-color;
}

.bar {
  display: block;
  position: relative;
  background-color: #ddd;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  margin: 0 auto;
  transition-property: transform, opacity, background-color, width;
}

.bar:first-child {
  top: 0;
}

.bar:nth-child(2) {
  opacity: 1;
}

.bar:last-child {
  bottom: 0;
}

.hamburger:hover {
  border-color: #fff;
}

.hamburger:hover .bar {
  background-color: #fff;
}

.bar + .bar {
  margin-top: 5px;
}

/* Animation */

.pb_main, .pb_sidebar, .mask, .hamburger, .bar {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(.694, .0482, .335, 1);
}

/* Show Sidebar */

.show-sidebar .pb_main {
  -webkit-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}

.show-sidebar .pb_sidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.show-sidebar .mask {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}

.show-sidebar .hamburger {
  border-color: white;
}

.show-sidebar .bar {
  background-color: white;
}

.show-sidebar .bar:first-child {
  width: 120%;
  -webkit-transform: rotate(45deg) translate(5px, 8px);
  transform: rotate(45deg) translate(5px, 8px);
}

.show-sidebar .bar:nth-child(2) {
  opacity: 0;
}

.show-sidebar .bar:last-child {
  width: 120%;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
  transform: rotate(-45deg) translate(3px, -7px);
}

.mat-raised-button {
  font-family: MuseoSans300;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

.mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  color: white;
}

.button-circle {
  display: block;
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  height: 55px;
  width: 55px;
  min-width: 55px;
  line-height: 55px;
  text-decoration: none;
}
