
.pbVideoItem {
  display: grid;
  grid-template-areas: 'videoItem';
}

.pbVideoItemWrapper {
  display: grid;
  grid-template-areas: 'hoverVideo';
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.pbVideoItemWrapper:hover {
  position: absolute;
  z-index: 10;
  transition: all .3s ease-out;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .pbVideoItemWrapper:hover {
    position: relative;
    z-index: 10;
  }
}

.VideoInfo {
  align-self: flex-end;
  color: #ffffff;
  padding: 30px;
  width: 15vw;
  font-family: var(--font-primary-bolder);
  letter-spacing: -1px;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .VideoInfo {
    font-size: var(--text-md);
    padding: 0.625rem;
    letter-spacing: 0;
    width: 40vw;
  }
}

.pbVideoLinks {
  position: relative;
  z-index: -1;
}

.pbVideoInsert, .pbVideoLinks, .VideoInfo {
  grid-area: hoverVideo;
}


/**
 * 1600 > 2500
 * 1600 < 1366 
 */
/**
 *  TODO : Museo Sans en los botones inferiores.
 * 
 */
/* h1, p
  text-align: center

p
  width: 100%
  max-width: 500px
  margin: auto */
.pbVimeoItem {
  max-width: 100%;
  justify-content: center;
}

.pbVimeoItem__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6.5px;
  margin-right: -6.5px;
  transition: 450ms transform;
  margin: 0 0 5.325vw 0;
}

.pbVimeoItem__inner img {
  display: block;
}

body {
  overflow-x: hidden;
}

.pbVimeoItem__inner > .tile {
  width: calc(33.33333% - 13px);
  margin: 6.5px;
}

@media screen and (min-width: 1024px) {
  .pbVimeoItem__inner > .tile {
    width: calc(16.66667% - 13px);
  }
}

@supports (grid-template-areas: "header") {
  .pbVimeoItem__inner {
    display: grid;
    grid-gap: 13px;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  body {
    overflow-x: visible;
  }

  @media screen and (min-width: 640px) {
    .pbVimeoItem__inner {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1024px) {
    .pbVimeoItem__inner {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .pbVimeoItem__inner > .tile {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .pbVimeoItem__inner {
    margin-left: auto;
  }
}

@media screen and (min-width: 1920px) {
  .pbVimeoItem__inner {
    grid-gap: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.66vw;
  }
}

.pbVimeoItem__inner:hover {
  transform: translate3d(-2.84vw, 0, 0);
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .pbVimeoItem__inner:hover {
    transform: none;
  }
}

@media screen and (min-width: 1920px) {
  .pbVimeoItem__inner:hover {
    transform: translate3d(-1.52vw, 0, 0);
  }
}

.pbVimeoItem__inner:hover .tile {
  opacity: .9;
}

.pbVimeoItem__inner:hover .tile:hover {
  transform: scale(1.4);
  opacity: 1;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .pbVimeoItem__inner:hover .tile:hover {
    transform: none;
  }
}

@media screen and (min-width: 1920px) {
  .pbVimeoItem__inner:hover .tile:hover {
    transform: scale(1.2);
  }
}

.pbVimeoItem__inner a:link,
.pbVimeoItem__inner a:hover,
.pbVimeoItem__inner a:active,
.pbVimeoItem__inner a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}

.pbVimeoItem:last-child .pbVimeoItem__inner {
  margin-bottom: 0.625rem;
}

.tile {
  position: relative;
  display: inline-block;
  width: 14.2vw;
  overflow: hidden;
  height: 21.3vw;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 1rem;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.tile a {
  pointer-events: visible;
}

.tile * {
  pointer-events: none;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tile {
    width: 99.4vw;
    height: 59.64vw;
    transform: none;
  }
}

@media screen and (min-width: 1920px) {
  .tile {
    width: 15.2vw;
    height: 21.28vw;
  }
}

.tileLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.tileLink:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
}

.tile__img {
  width: 14.2vw;
  height: 21.3vw;
  object-fit: cover;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tile__img {
    width: 99.4vw;
    height: 59.64vw;
  }
}

@media screen and (min-width: 1920px) {
  .tile__img {
    width: 15.2vw;
    height: 21.28vw;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1599px) {
  .tile .inserCont {
    width: 15vw;
    height: 21.28vw;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  .tile .inserCont {
    width: 18vw;
    height: 28.28vw;
  }
}

@media screen and (min-width: 1920px) {
  .tile .inserCont {
    width: 30vw;
    height: 60vh;
  }
}

.tile .inserCont iframe {
  margin-top: -150px;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  transition: 450ms opacity;
  z-index: 20;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tile__details {
    opacity: 1;
    background: transparent;
  }
}

.tile__details:after, .tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  opacity: 0;
}

.tile__details:after {
  margin-top: -17.5px;
  margin-left: -17.5px;
  width: 35px;
  height: 35px;
  border: 3px solid #ecf0f1;
  line-height: 35px;
  text-align: center;
  border-radius: 100%;
  background: rgba(114, 114, 114, 0.5);
  z-index: 1;
}

.tile__details:before {
  content: '▶';
  color: #25aae1;
  left: 0;
  width: 100%;
  font-size: 20px;
  margin-left: 3px;
  margin-top: -12px;
  text-align: center;
  z-index: 2;
}

.tile__details__vid:after, .tile__details__vid:before {
  display: none;
}

.tile__title {
  position: absolute;
  bottom: 30px;
  padding: 10px 20px;
  width: 100%;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tile__title {
    bottom: 50px;
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .tile__title {
    padding: 4rem 3.1rem;
  }
}

.tile__title .Encabezado {
  width: 100%;
  margin: auto;
  color: #ffffff;
  white-space: normal;
  opacity: 0;
  font-size: 1.2rem;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tile__title .Encabezado {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .tile__title .Encabezado {
    font-size: .75rem;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1755px) {
  .tile__title .Encabezado {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1756px) and (max-width: 1919px) {
  .tile__title .Encabezado {
    font-size: 1.2rem;
  }
}

.tile__title .Descripcion {
  color: #ffffff;
  opacity: 0;
  padding-top: .2rem;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tile__title .Descripcion {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .tile__title .Descripcion {
    font-size: 0.7rem;
  }
}

.tile:hover ~ .tile {
  transform: translate3d(5.68vw, 0, 0);
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tile:hover ~ .tile {
    transform: none;
  }
}

@media screen and (min-width: 1920px) {
  .tile:hover ~ .tile {
    transform: translate3d(3.04vw, 0, 0);
  }
}

.tile:hover .tile__details, .tile:hover .tile__details .Descripcion, .tile:hover .tile__details .Encabezado, .tile:hover .tile__details:before, .tile:hover .tile__details:after {
  opacity: 1;
  transition: 450ms opacity;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("../../../../../assets/img/bg01.jpg") center center/cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.inserCont {
  top: 0%;
  left: 0%;
  overflow: hidden !important;
  position: absolute;
}



