
<div class="pbVimeoItem">
  <div class="pbVimeoItem__inner">
     <div *ngFor="let iter of listTiles | slice:0:6; let i = index">
         <div class="tile" id="insPreview-{{iter.TeamId}}" (mouseenter)="ViewVideo($event, iter.VideoPreviewValueUrl)" (mouseleave)="UnloadVideo($event)">
           <div class="inserCont" id="insertVimeoPreview{{iter.TeamId}}">         </div>
           <div class="tileMedia">
             <img class="tile__img" src="../../../../assets/img/{{iter.ImageValueUrl}}" id="history-{{i}}" />
           </div>
           <a class="tileLink" [routerLink]="['/awards/detail/', iter.TeamId]">
             <div class="tile__details">
               <div class="tile__title">
                 <div class="Encabezado">{{iter.Name}}</div>
                 <div class="Descripcion text--sm">{{iter.Description}}</div>
               </div>
             </div>
           </a>
         </div>
     </div>
   </div>
</div>

<div class="pbVimeoItem">
  <div class="pbVimeoItem__inner">
    <div *ngFor="let iter of listTiles | slice:6:12; let i = index">
      <div class="tile" id="insPreview-{{iter.TeamId}}" (mouseenter)="ViewVideo($event, iter.VideoPreviewValueUrl)" (mouseleave)="UnloadVideo($event)">
        <div class="inserCont" id="insertVimeoPreview{{iter.TeamId}}">         </div>
        <div class="tileMedia">
          <img class="tile__img" src="../../../../assets/img/{{iter.ImageValueUrl}}" id="history-{{i}}" />
        </div>
        <a class="tileLink" [routerLink]="['/awards/detail/', iter.TeamId]">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">{{iter.Name}}</div>
              <div class="Descripcion text--sm">{{iter.Description}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="pbVimeoItem">
  <div class="pbVimeoItem__inner">
    <div *ngFor="let iter of listTiles | slice:12:18; let i = index">
      <div class="tile" id="insPreview-{{iter.TeamId}}" (mouseenter)="ViewVideo($event, iter.VideoPreviewValueUrl)" (mouseleave)="UnloadVideo($event)">
        <div class="inserCont" id="insertVimeoPreview{{iter.TeamId}}">         </div>
        <div class="tileMedia">
          <img class="tile__img" src="../../../../assets/img/{{iter.ImageValueUrl}}" id="history-{{i}}" />
        </div>
        <a class="tileLink" [routerLink]="['/awards/detail/', iter.TeamId]">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">{{iter.Name}}</div>
              <div class="Descripcion text--sm">{{iter.Description}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="pbVimeoItem">
  <div class="pbVimeoItem__inner">
    <div *ngFor="let iter of listTiles | slice:18:24; let i = index">
      <div class="tile" id="insPreview-{{iter.TeamId}}" (mouseenter)="ViewVideo($event, iter.VideoPreviewValueUrl)" (mouseleave)="UnloadVideo($event)">
        <div class="inserCont" id="insertVimeoPreview{{iter.TeamId}}">         </div>
        <div class="tileMedia">
          <img class="tile__img" src="../../../../assets/img/{{iter.ImageValueUrl}}" id="history-{{i}}" />
        </div>
        <a class="tileLink" [routerLink]="['/awards/detail/', iter.TeamId]">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">{{iter.Name}}</div>
              <div class="Descripcion text--sm">{{iter.Description}}</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
