<div class="pbResp bgResp"></div>
<div class="pb">
  <div class="pbTop">
    <div class="VideoControl"><a class="VideoVolumen Up" href="#" data-action-volume="0" id="volume"><i class="fa fa-volume-off"></i></a></div>
  </div>
  <div class="pbMain pb__track" data-glide-el="track">
    <ul class="pb__slides">
      <li class="pb__slide Awards">
        <div class="VimeoPlayerVideo">
          <div id="insertPlayerOnInitSlide"></div>
        </div>
      </li>
      <li class="pb__slide pbInfo">         </li>
      <li class="pb__slide">
        <div class="VimeoPlayerVideo">
          <div id="insertPlayerOnLastSlide"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="pbNav AccessControl" data-glide-el="controls[nav]">
    <button class="AccessItem" data-glide-dir="=0">Inicio</button>
    <button class="AccessItem" data-glide-dir="=1">Información de los Premios</button>
    <button class="AccessItem" data-glide-dir="=2">Ganadores anteriores</button>
  </div>
</div>
<main class="pbVideo" #videoItemsComponent>
  <h1 class="s-100 AppTitle">24 Originales de BELCORP</h1>
  <div class="pbVimeoItem">
    <div class="pbVimeoItem__inner">
      <div class="tile" id="insPreview-0">
        <div class="inserCont" id="insertVimeoPreview1">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-0" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-1">
        <div class="inserCont" id="insertVimeoPreview2">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-1" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-2">
        <div class="inserCont" id="insertVimeoPreview3">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-2" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-3">
        <div class="inserCont" id="insertVimeoPreview4">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-3" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-4">
        <div class="inserCont" id="insertVimeoPreview5">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-4" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-5">
        <div class="inserCont" id="insertVimeoPreview6">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-5" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="pbVimeoItem">
    <div class="pbVimeoItem__inner">
      <div class="tile" id="insPreview-0">
        <div class="inserCont" id="insertVimeoPreview7">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-0" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-1">
        <div class="inserCont" id="insertVimeoPreview8">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-1" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-2">
        <div class="inserCont" id="insertVimeoPreview9">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-2" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-3">
        <div class="inserCont" id="insertVimeoPreview10">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-3" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-4">
        <div class="inserCont" id="insertVimeoPreview11">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-4" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-5">
        <div class="inserCont" id="insertVimeoPreview12">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-5" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="pbVimeoItem">
    <div class="pbVimeoItem__inner">
      <div class="tile" id="insPreview-0">
        <div class="inserCont" id="insertVimeoPreview13">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-0" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-1">
        <div class="inserCont" id="insertVimeoPreview14">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-1" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-2">
        <div class="inserCont" id="insertVimeoPreview15">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-2" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-3">
        <div class="inserCont" id="insertVimeoPreview16">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-3" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-4">
        <div class="inserCont" id="insertVimeoPreview17">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-4" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-5">
        <div class="inserCont" id="insertVimeoPreview18">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-5" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="pbVimeoItem">
    <div class="pbVimeoItem__inner">
      <div class="tile" id="insPreview-0">
        <div class="inserCont" id="insertVimeoPreview19">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-0" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-1">
        <div class="inserCont" id="insertVimeoPreview20">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-1" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-2">
        <div class="inserCont" id="insertVimeoPreview21">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-2" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-3">
        <div class="inserCont" id="insertVimeoPreview22">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-3" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-4">
        <div class="inserCont" id="insertVimeoPreview23">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-4" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
      <div class="tile" id="insPreview-5">
        <div class="inserCont" id="insertVimeoPreview24">         </div>
        <div class="tileMedia">                        <img class="tile__img" src="../../../../assets/img/g3.jpg" id="history-5" /></div><a class="tileLink" href="detail.html">
          <div class="tile__details">
            <div class="tile__title">
              <div class="Encabezado">Nombre creativo máximo 2 lineas </div>
              <div class="Descripcion text--sm">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
<footer class="Bye">
  <p> <a href="mailto:name@email.com">Dudas: consultas@alcorreo.com</a></p>
</footer>
