

.mat-form-field {
  width: 350px;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .mat-form-field {
    width: 235px;
  }
}

.mat-dialog-actions {
  float: right;
}

.mat-raised-button {
  font-family: Museo Sans;
}
