<h2 mat-dialog-title>Cambiar contraseña</h2>

<mat-dialog-content [formGroup]="formChangePass" novalidate>
  <div class="form-container">
    <div class="row">
      <div class="changepass-column-text">
        <mat-form-field>
          <input matInput placeholder="Ingrese antigua contraseña" formControlName="oldPassword" name="oldPassword"  type="password">
          <mat-error *ngIf="formErrors.oldPassword" class="form__error">{{ formErrors.oldPassword }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="changepass-column-text">
        <mat-form-field>
          <input matInput placeholder="Ingrese nueva contraseña" formControlName="newPassword" name="newPassword"  [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="formErrors.newPassword" class="form__error">{{ formErrors.newPassword }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="changepass-column-text">
        <mat-form-field>
          <input matInput placeholder="Confirme nueva contraseña" formControlName="confirmPassword" name="confirmPassword" [type]="hideC ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideC = !hideC">{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
          <!--<mat-error *ngIf="formErrors.confirmPassword" class="form__error">{{ formErrors.confirmPassword }}</mat-error>-->
          <mat-error *ngIf="notSame" class="form__error">
            Porfavor confirme correctamente el nuevo password
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="mat-raised-button" (click)="close()">Close</button>
  <button mat-raised-button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner *ngIf="loading" [color]="warn"></mat-spinner>
</div>
