.VideoVimeo {
  grid-area: vimeo;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}


.VideoVimeo iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  /* this will override the width=""/height="" properties defined on the iframe */
  width: 100% !important;
  height: 100% !important;
}

.Temporal {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.Temporal img {
  display: block;
}

body {
  overflow-x: hidden;
}

.Temporal > .History {
  width: calc(100% - 5rem);
  margin: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .Temporal > .History {
    width: calc(50% - 5rem);
  }
}

@supports (grid-template-areas: "header") {
  .Temporal {
    display: grid;
    grid-gap: 5rem;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  body {
    overflow-x: visible;
  }

  @media screen and (min-width: 640px) {
    .Temporal {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media screen and (min-width: 1024px) {
    .Temporal {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1440px) {
    .Temporal {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .Temporal > .History {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .Temporal {
    gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .Temporal {
    grid-template-columns: 60% 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .Temporal {
    grid-template-columns: 70% 1fr;
  }
}

/**
* * Sección contenedora de Video Principal: 
*   ! div.Video #78
*   !   -> h1.VideoTitle    
*          * VideoVimeo: contiene al video importado desde la API de vimeo 
*   !   -> div.VideoVimeo   #80
*   !   -> div.Collaborator
*/
.VideoStars {
  text-align: right;
  position: absolute;
  right: 0;
}

.VideoStarsVote {
  display: inline-block;
}

.VideoTitleWrap {
  position: relative;
}

.VideoTitle {
  display: inline;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .VideoTitle {
    font-size: var(--text-xl);
    line-height: 10px;
    margin-bottom: 10px;
  }
}

.VideoVimeo {
  /**
         * Corregido para mac's 
         * ya no se aplicaría porque ya no va ningun boton dentro
         */
}

.VideoControl a {
  margin: 0 0.3125rem;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .VideoControl {
    display: none;
  }
}



.grCenter {
  align-self: center;
}

.ctaBtn, .Rate {
  grid-area: vimeo;
  position: relative;
}

.ctaBtn {
  align-self: self-end;
  margin-right: 37vw;
  margin-bottom: 30px;
  z-index: 10;
  color: #25aae1;
}

.Rate {
  z-index: 20;
}

.EffectAfterVote {
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  from {
    text-shadow: 1px -4px 1px #6F2C90;
  }

  to {
    text-shadow: 1px 3px 1px #6F2C90;
  }
}


.pbScroll {
  margin-left: inherit;
  padding-right: 30px;
  float: left;
  height: 20vh;
  width: 100%;
  background: transparent;
  overflow-y: scroll;
  margin-bottom: 25px;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .pbScroll {
    height: 11vh;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1920px) {
  .pbScroll {
    overflow-y: inherit;
  }
}

.SecTitle {
  line-height: 1.5625em;
  font-family: 'Museo Sans Bold';
  font-weight: normal;
}

@media screen and (min-width: 1920px) {
  .SecTitle {
    line-height: 3.35rem;
    /**
         * Responsive fullhd para alinear los videos relacioandos
         */
  }
}

.ThirdTitle {
  font-family: 'Museo Sans Bold';
  padding-bottom: 4px;
  font-size: 1rem;
  font-weight: normal;
}

.lh-title {
  line-height: 1.2rem;
}

.buttonFlat {
  padding: 10px;
  background: white;
}

.Hide {
  display: none;
}

.light {
  font-family: 'Museo Sans';
}


.w100 {
  width: 100%;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .VoteBackResp {
    display: block;
  }
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .VoteBack {
    display: none;
  }
}

.VoteBack i {
  font-size: 1.125em;
  padding-right: 0.625rem;
}

.bt--red {
  border-top: 4px solid red;
}

.Container {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.Container > .ed-item {
  padding-left: 0rem;
  padding-right: 0rem;
}

.VersionType {
  height: 40vh;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin: 10px;
}

/*.VersionType.bgLand--00 {
  background: url("../../../../../../assets/img/bgland01.jpg");
  background-size: cover;
}

.VersionType.bgLand--01 {
  background: url("../../../../../../assets/img/bgland01.jpg");
  background-size: cover;
}*/

.VersionType a {
  display: block;
  padding: 80px;
  color: #ffffff;
  transition: all .3s ease-in;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
}

.VersionType a:hover {
  transform: scale(1.5);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
}

.w100 {
  width: 100%;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tabs {
    display: none;
  }
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .tabsResp {
    margin-top: 1.875rem;
    display: block;
  }
}

.mTB15 {
  margin: 0.9375rem 0;
}

.mT15 {
  margin-top: 0.9375rem;
}

[data-tabby-content] {
  display: none;
}

[data-tabby-content][data-tabby-active] {
  display: block;
}

[data-tabby-bar] {
  cursor: pointer;
}

[data-tabby-content] {
  display: none;
}

[data-tabby-content][data-tabby-active] {
  display: block;
}

[data-tabby-bar] {
  padding-top: 15px;
  color: #4D2669;
  transition: all .3s ease-out;
  border-top: 4px solid transparent;
}

[data-tabby-bar]:hover {
  color: #ffffff;
  transition: all .3s ease-out;
}

.bar [data-tabby-active] {
  border-top: 4px solid red;
}

[data-tabby-active] {
  color: #ffffff;
}

.content {
  font-family: 'Museo Sans Light';
}

.bar [data-tabby-active] {
  padding-top: 15px;
}

.bar li, .barTitle {
  display: inline;
}

.bar li:first-child {
  margin-right: 30px;
}


/***estrellas votacion**/

.rating {
  top: 50%;
  left: 50%;
  transform: rotateY(180deg);
  display: flex;
  padding-bottom: 20px;
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor:pointer;
  width: 150px;
}

.rating label:before {
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 7rem;
  color: #0c3558;
}

.rating label:after {
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 7rem;
  color: #25aae1;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0, .5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
  opacity: 1;
}

.RateText {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .RateText {
    font-size: 1rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .RateText {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .rating {
    font-size: 2.8125rem;
    margin: 5px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .rating {
    font-size: 3rem;
    margin: 5px;
  }
}
/*****************/


/**estrellas informativas**/
/*RateAction {
  text-align: center;
}

.RateAction i {
  color: #FF0000;
  margin: 20px;
  font-size: 6.875rem;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .RateAction i {
    font-size: 2.8125rem;
    margin: 5px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .RateAction i {
    font-size: 3rem;
    margin: 5px;
  }
}*/

.RateVote {
  position: absolute;
  right: 0;
  top: 3vh;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .RateVote {
    top: auto;
    position: inherit;
  }
}

.RateVote i {
  margin: 2px;
  font-size: 1.875rem;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .RateVote i {
    font-size: 1rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .RateVote i {
    font-size: 1rem;
  }
}

.RateStarVote {
  color: #25aae1;
}

.RateStarNoVote {
  color: #0c3558;
}


/*****/

  /*RateAction {
  text-align: center;
}

.RateAction i {
  color: #0c3558;
  margin: 20px;
  font-size: 6.875rem;
}

.RateAction > a:hover i,
.RateAction > a:hover i ~ RateAction {
  color: #25aae1;
}



@media screen and (min-width: 0) and (max-width: 639px) {
  .RateAction i {
    font-size: 2.8125rem;
    margin: 5px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .RateAction i {
    font-size: 3rem;
    margin: 5px;
  }
}

.RateVote {
  position: absolute;
  right: 0;
  top: 3vh;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .RateVote {
    top: auto;
    position: inherit;
  }
}

.RateVote i {
  color: #25aae1;
  margin: 2px;
  font-size: 1.875rem;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .RateVote i {
    font-size: 1rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .RateVote i {
    font-size: 1rem;
  }
}

.RateText {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

@media screen and (min-width: 0) and (max-width: 639px) {
  .RateText {
    font-size: 1rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .RateText {
    font-size: 1.1rem;
  }
}

.Collaborator ul {
  height: 20vh;
}

.Collaborator h3 {
  line-height: 3em; 
}*/
