// Variables
$mockupGray: #b6b6b6;
// Colores primarios
$background: #2b1034;
// Ultimo color para gradient
$backgroundLastGradient: #09001e;
$alt: #25aae1;
// Color de textos
$text: #ffffff;
// Color de parrafos
$heading-gray-color: #A5A8AB;
