<div class="collection-banner-body">
  <prem-banner>
  </prem-banner>
</div>
<div class="collection-tiles-body">
  <!--[ProtocolComparisonTasksVM]="ProtocolComparisonTasksVM"-->
  <prem-tiles [Rows]="Rows" [listTiles]="listTiles">
  </prem-tiles>
</div>
<footer class="Bye">
  <p> <a href="mailto:name@email.com">Dudas: consultas@alcorreo.com</a></p>
</footer>

<ngx-spinner bdColor="rgba(0,0,0,0.1)"
             size="medium"
             color="#FF0025"
             type="ball-spin-clockwise">
  <p style="font-size: 20px; color: #FF0025">Cargando...</p>
</ngx-spinner>
